p.box1_p1 {margin: 0.0px 0.0px 0.0px 0.0px; text-indent: 42.414489px; padding-left:19.532958px; text-align: justify; margin-top: 0.000000px; color: rgba(0, 0, 0, 1.000000); font-size: 18.000000px; font-family: Helvetica; }

span.box1_s1 {color: rgba(31, 203, 5, 0.510000); font-size: 18.000000px; font-family: Helvetica; }

span.box1_s2 {color: rgba(0, 0, 0, 1.000000); font-size: 18.000000px; font-family: Helvetica; }

span.box1_s3 {color: rgba(0, 0, 0, 1.000000); font-size: 18.000000px; font-family: Helvetica-LightOblique; }

span.box1_s4 {color: rgba(0, 0, 0, 1.000000); font-size: 18.000000px; font-family: Helvetica; }

span.box1_s5 {color: rgba(0, 0, 0, 1.000000); font-size: 18.000000px; font-family: GuardiLTStd-Black; }

span.box1_s6 {color: rgba(0, 0, 0, 1.000000); font-size: 18.000000px; font-family: Helvetica; }

p.box1_p2 {margin: 0.0px 0.0px 0.0px 0.0px; text-indent: -19.532958px; padding-left:19.532958px; text-align: justify; margin-top: 0.000000px; color: rgba(255, 0, 255, 1.000000); font-size: 48.000000px; font-family: GraphiteStd-Regular; }

span.box1_s7 {color: rgba(0, 0, 0, 1.000000); font-size: 18.000000px; font-family: Helvetica; }

span.box1_s8 {color: rgba(253, 184, 9, 1.000000); font-size: 18.000000px; font-family: Helvetica; }

span.box1_s9 {color: rgba(0, 0, 0, 1.000000); font-size: 18.000000px; font-family: Helvetica; }



