p.box_1_p1 {margin: 0.0px 0.0px 0.0px 19.5px; text-align: justify; text-indent: 42.4px; font: 18.0px Helvetica}
p.box_1_p2 {margin: 0.0px 0.0px 0.0px 19.5px; text-align: justify; text-indent: -19.5px; font: 48.0px 'Graphite Std'; color: #ff40ff}
span.box_1_s1 {color: #11d000; color: rgba(17, 208, 1, 0.51)}
span.box_1_s2 {font: 18.0px 'Helvetica Light'}
span.box_1_s3 {font: 18.0px 'Guardi LT Std'}
span.box_1_s4 {font: 18.0px Helvetica; color: #000000}
span.box_1_s5 {font: 18.0px Helvetica; color: #ffc300}


